.accessories {
  width: 100%;
  height: 2190px;
  overflow: hidden;
}

.accessories_container {
  width: 100%;
  height: 2000px;
  /* background-color: #41a0a0; */
  overflow: hidden;
}

.accessories_pattern {
  height: 1250px;
}

.test {
  width: 100%;
  height: 1800px;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --white-light: rgba(255, 255, 255, 0.5);
  --alice-blue: #f8f9fa;
  --carribean-green: #40c9a2;
  --gray: #ededed;
}

/* Utility stylings */
image {
  width: 100%;
  display: block;
}

.container-222 {
  width: 70%;
  margin-left: 2.5%;
}

.lg-title,
.md-title,
.sm-title {
  font-family: 'Roboto', sans-serif;
  padding: 0.6rem 0;
  text-transform: capitalize;
}

.gbuwv {
  width: 390px;
  display: flex;
  justify-content: space-between;
}

.lg-title {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  padding: 1.3rem 0;
  opacity: 0.9;
}

.md-title {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
}

.sm-title {
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
}

.text-light {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  opacity: 0.5;
  margin: 0.4rem 0;
}

.paknj {
  padding-left: 0px !important;
}

/* product section */
.products {
  padding-left: 21px;
  background: var(--alice-blue);
}

.products .text-light {
  text-align: center;
  width: 70%;
  margin: 0.9rem auto;
}

.product {
  margin: 2rem;
  /* border-color: 1px solid #3E76CC; */
  box-shadow: 0 10px 8px 0 rgb(62 118 204 / 58%);

  position: relative;
  width: 440px;
}

.product-content {
  background: var(--gray);
  padding: 10px 20px ;
  cursor: pointer;

}

.product-img {
  background: var(--white-light);
  box-shadow: 0 0 20px 10px var(--white-light);
  width: 400px;
  height: 250px;
  margin-right: 28px;
  transition: background 0.5s ease;
  /* background-image: url(../../img/templates/t6.jpg);
  background-repeat: no-repeat;
  background-size: cover */
}

.p-img {
  background-image: url(../pages/Aksesoria/img/bg_bags.jpg);
  background-repeat: no-repeat;
  background-size: cover
}

.p-img2 {
  background-image: url(../pages/Aksesoria/img/bg_shoes.jpg);
  background-repeat: no-repeat;
  background-size: cover
}

.p-img3 {
  background-image: url(../pages/Aksesoria/img/bg-watch.jpg);
  background-repeat: no-repeat;
  background-size: cover
}

.p-img4 {
  background-image: url(../pages/Aksesoria/img/bg-jawerlis.jpg);
  background-repeat: no-repeat;
  background-size: cover
}

.comming_soon {
  background-position: center;
  background-image: url(../pages/img/bg-cm.jpg);
  background-size: cover;
}

.product-btns {
  margin-right: 5px;
  display: flex;
  justify-content: center;
  margin-top: 1.4rem;
  opacity: 0;
  transition: opacity 0.6s ease;
}

.btn-cart,
.btn-buy {
  background: transparent;
  border: 1px solid black;
  padding: 0.8rem 0;
  width: 125px;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: all 0.6s ease;
}

.btn-a {
  text-decoration: none;
  color: white;
}

.btn-a-b {
  text-decoration: none;  
  color: black;
}

.btn-cart {
  background: black;
  color: white;
}

.btn-cart:hover {
  background: #3E76CC;
}

.btn-buy {
  background: white;
}

.btn-buy:hover {
  background: #3E76CC;
  color: #fff;
}

.product-info {
  background: white;
  padding: 2rem;
}

.product-info-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating span {
  color: var(--carribean-green);
}

.product-name {
  color: black;
  display: block;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.product-price {
  padding-top: 0.6rem;
  padding-right: 0.6rem;
  display: inline-block;
}

.product-price:first-of-type {
  text-decoration: line-through;
  color: #3E76CC;
}

.product-img img {
  transition: transform 0.6s ease;
}

.product:hover .product-img img {
  transform: scale(1.1);
}

.product:hover .product-img {
  /* background: var(--carribean-green); */
}

.product:hover .product-btns {
  opacity: 1;
}

.off-info .sm-title {
  background: #3E76CC;
  color: white;
  display: inline-block;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  z-index: 99;
  letter-spacing: 3px;
  cursor: pointer;
}

/* product collection */
.product-collection {
  padding: 3.2rem 0;
}

.product-collection-wrapper {
  padding: 3.2rem 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 50vh;
  padding: 2rem 1.5rem 3.2rem;
  margin: 5px;
}

.product-col-r-bottom>div:first-child {
  background: #eaa001;
}

.product-col-r-bottom>div:last-child {
  background: #0090ff;
}

.product-col-content {
  text-align: center;
  color: white;
}

.product-collection .text-light {
  opacity: 1;
  font-size: 0.8;
  font-weight: 400;
  line-height: 1.7;
}

.btn-dark {
  background: black;
  color: white;
  outline: 0;
  border-radius: 25px;
  padding: 0.7rem 1rem;
  border: 0;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.6s ease;
  font-size: 1rem;
  font-family: inherit;
}

.btn-dark:hover {
  background: var(--carribean-green);
}


@media (max-width: 1025px) {
  .accessories {
    height: 3400px;
  }
}

@media (max-width: 769px) {
  .accessories {
    height: 5600px;
  }
}

@media (max-width: 426px) {
  .accessories {
    height: 5600px;
  }
}


/* Media Queries */
@media screen and (min-width: 992px) {
  .product-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .product-col-r-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .product-items {
    grid-template-columns: repeat(3, 1fr);
  }

  .product {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .products .text-light {
    width: 50%;
  }
}

@media screen and (min-width: 1336px) {
  .product-items {
    grid-template-columns: repeat(3, 1fr);
  }

  .product-collection-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .flex {
    height: 60vh;
  }

  .product-col-left {
    height: 121.5vh;
  }
}

@media (max-width: 769px) {
  .products {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 426px) {
  .products {
    padding-left: 0px;
    justify-content: start;
  }
  .product {
    width: 370px;
    margin: 50px 20px;
  }
  .product-btns {
    margin-right: 50px
  }
  .product-img {
    width: 332px;
  }
  .btn-cart {
    margin-left: 70px;
  }
  .comming_soon {
    width: 332px;
  }
}


@media (max-width: 376px) {
  .products {
    display: flex;
    justify-content: start;
  }
  .product {
    width: 350px;
    margin: 60px 0px;
  }
  .product-img {
    width: 310px;
  }
  .btn-cart {
    margin-left: 50px;
  }
  .product-btns {
    margin-right: 32px
  }
  .comming_soon {
    width: 310px;
  }
  .accessories {
    height: 5800px;
  }
}

@media (max-width: 321px) {
  .product-img {
    width: 260px;
  }
  .product {
    width: 300px;
    margin: 60px 0px;
  }
  .comming_soon {
    width: 260px;
  }
  .btn-cart {
    margin-left: 60px;
  }
  .pattern-btns-body {
    padding-left: 0px;
  }
  .accessories {
    height: 5850px;
  }
}