/* Laptop - 1024px */

@media (max-width: 1024px) {
  .navbar_button {
    margin-top: 26px;
  }
}

/* Tablet - 768px */

@media (max-width: 768px) {
  .navbar {
    max-width: 100%;
  }
  .navigarion_container {
    
  }
  .navbar_button {
   
  }
  
}

/* Mobile M */

@media (max-width: 676px) {
  .navbar{
    max-width: 100%;
  }
  .navigarion_container {
    display: none;
  }
  .mod-container {
    margin-top: 60px
  }
  .blog_text-main-contanier {
    font-size: 30px;
  }
  .left_container {
    margin-right: 100px;
  }
  .logo_container {
    margin-left: 10px
  }
  .rigth_container {
    display: none;
  }
}

@media (max-width: 426px) {
  .hpsqz {
    margin-left: 28px;
  }
  .pattern-btns-body {
    padding-left: 0px;
  }
  .navbar {
    max-width: 425px;
  }
  .navbar > .gvwbr-nav-logo {
    width: 200px;
    margin-left: 0px;
    justify-content: none;
  }
  .gvwbr-nav-logo {
    padding-right: 65px;
  }
}

@media (max-width: 376px) {
  .navbar > .gvwbr-nav-logo {
    margin-left: 2px;
    justify-content: none;
  }
  .hpsqz {
    margin-left: 15px;
  }
}

@media (max-width: 321px) {
  .navbar > .gvwbr-nav-logo {
    margin-left: 2px;
  }
}